In [1]:
import numpy as np
import pandas as pd

import sys
sys.path.append("../..")
from utils import utils, model_utils

In [2]:
def examples_per_maxlength(info, d, included_langs, tokenizer):
    lengths = [64, 128, 256, 512]
    file_path = info["file_path"]
    lang_name = info["lang_name"]
    dataset = info["dataset"]
    
    # Only for train set
    if lang_name in included_langs and dataset == "train":
        df = pd.read_csv(file_path, header=None)
        df.columns = ["sentiment", "review"]
        d[lang_name] = {}
        d[lang_name]["total"] = df.shape[0] # Total examples
        for l in lengths:
            # How many examples below limit
            n = (df["review"].apply(lambda x: len(tokenizer.encode(x))) <= l).sum()
            d[lang_name][l] = n
            
    return d

In [3]:
acl_langs = utils.get_langs("acl")
tokenizer = model_utils.get_tokenizer("xlm-roberta", "sentiment")

In [4]:
results = utils.run_through_data("../../data/sentiment/", examples_per_maxlength, 
                                 {}, included_langs=acl_langs, tokenizer=tokenizer)

HBox(children=(FloatProgress(value=0.0, max=69.0), HTML(value='')))

In [7]:
df = pd.DataFrame(results).T.rename_axis("language").reset_index()
df = utils.order_table(df, "acl")

In [8]:
df

      language   total     64     128     256     512
0       German    4939   4187    4872    4937    4939
1      Spanish    1029    996    1027    1029    1029
2       Slovak    3724   3417    3652    3708    3724
3    Norwegian    2675   2583    2674    2675    2675
4        Greek     462    458     462     462     462
5      Chinese   19292   8987   13817   18268   19159
6   Vietnamese    2384   2137    2329    2378    2384
7         Thai    8103   7467    8000    8090    8103
8    Cantonese   31217   1122   12852   31217   31217
9   Indonesian  100307  97565  100022  100254  100307
10     Finnish    1355    823    1140    1297    1344
11      Basque     789    778     788     789     789
12      Korean    3237   2818    3227    3237    3237
13    Japanese   13976   5394    9677   12511   13710
14     Turkish     915    909     915     915     915
15      Arabic   35841  19755   27713   32492   34807
16      Hebrew    8702   7307    8239    8581    8663
17    Algerian     564    543     563     564     564
18     Maltese     502    372     498     502     502

In [9]:
df.to_excel("tables/example_lengths_sentiment_xlm-roberta.xlsx", index=False)